@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.rounded-corners (@radius: 5px) {
  .border-radius( @radius );
}

.transparent {
    .opacity( 0 );
    .transition(opacity 1s);
}

.opaque {
    .opacity( 100 );
    .transition(opacity 1s);
}

.listItem {
    padding: 5px;
    margin-bottom: 3px;
}

.listItemWithMouseOver {
    .listItem;

    border: 1px solid white;
    .rounded-corners;
    
    .transition(border-color 1s);
    
    .tools {
        float:right;
        .transparent;
    }

    &:hover {
        border: 1px solid @grayLight;
        .rounded-corners;

        .transition(border-color 1s);

        .tools {
            .opacity( 80 );
            .transition(opacity 1s);
        }
    }
}

.section {
    .listItemWithMouseOver;
}

.historyItem {
    .listItemWithMouseOver;
}

// Markdown styles
.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

#wmd-input {
    min-height: 256px;
}

#wmd-preview {
    min-height: 256px;
    border: solid 1px @inputBorder;
    padding: 5px;
    .rounded-corners;
}

.no-margin {
    margin: 0px;
}

#editorError {
    .alert;
    .alert-error;

    margin-top: 4px;
    margin-bottom: 2px;
    padding-left: 14px;
    padding-right: 14px;
}

.center-align {
    text-align: center;
}

.CodeMirror-wrap {
    border: 1px solid @grayLight;
    padding: 2px;
    .rounded-corners;
}
