<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Resumr</title>
	<!--<meta name="description" content="">
	<meta name="author" content="">-->

	<meta name="viewport" content="width=device-width">

	<!--
	<link rel="stylesheet/less" href="less/style.less">
	<script src="js/libs/less-1.3.0.min.js"></script>
	-->
	<link rel="stylesheet" href="static/less/style.css">
	
	<script src="static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Resumr</a>
          <div class="nav-collapse">
            <ul id='nav-left' class="nav">
							<li id='sectionOverviewNav'>
								<a id='sectionListLink' href="#">Overall Layout</a>
							</li>
							<li id='sectionNewNav'>
								<a id='newSectionLink' href="#newSection">Add New Section</a>
							</li>
              <li id='stylesheetEditNav'><a id='cssLink' href="#css">Stylesheet</a></li>
              <li id='renderNav'><a id='renderLink' href="render">Render</a></li>
            </ul>
						<ul class='nav pull-right'>
							<li class='pull-right'><a href='logout'>Logout</a></li>
						</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
			<div class='row-fluid' id='page'>
			</div>
			<hr />
			<footer>
				<p>&copy; Graeme Coupar</p>
			</footer>

    </div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="static/js/libs/bootstrap/bootstrap.min.js"></script>
<!-- TODO: Might want to use the dev versions of these at some point -->
<script src="static/js/libs/underscore-min.js"></script>
<script src="static/js/libs/backbone-min.js"></script>
<script src="static/js/libs/backbone.marionette.js"></script>
<script src="static/js/libs/amplify.core.min.js"></script>
<script src="static/js/libs/amplify.request.min.js"></script>

<script src='static/js/libs/require.min.js' data-main='static/js/main.js'></script>
<!-- end scripts-->

<!-- Start templates -->
<script id='section-overview-template' type='text/template'>
	<div id='sidebar' class='span2'>
	</div>
	<div id='content' class='span10'>
	</div>
</script>
<script id='section-editor-template' type='text/template'>
	<div id='row-fluid'>
		<h3 class='span12'>
			<% if ( isNew ) { %>
				New Section &nbsp; 
				<input 
					class='no-margin' 
					type='text' 
					id='sectionName' 
					placeholder='Section Name' 
					tabindex='1'/> &nbsp;
			<% } else { %>
				Editing Section "<%= item.name %>" &nbsp;
			<% } %>
			<button id='saveButton' class='btn btn-primary' tabindex='3'>
				<i class='icon-ok-sign icon-white'></i> Save
			</button>
			<button id='cancelButton' class='btn btn-danger' tabindex='4'>
				Cancel
			</button>
		</h3>
	</div>
	<div id='row-fluid'>
		<div class='span12 center-align'>
			<span id='editorError' class='transparent'>
				Placeholder text
			</span>
		</div>
	</div>
	<div id='row-fluid'>
		<div id='editor' class='span6'>
			<div id='wmd-button-bar'></div>
			<textarea 
				id='wmd-input' 
				class='span6' 
				tabindex='2'><%= item.content %></textarea>
		</div>
		<div id='preview' class='span6'>
			<div class='wmd-button-row'>&nbsp;</div>
			<div id='wmd-preview'>
			</div>
		</div>
	</div>
</script>
<script id='section-item-template' type='text/template'>
	<div class='section' id='section-<%= name %>'>
		<div class='tools'>
			<i class='icon-edit' title='Edit Section'></i>
			<i class='icon-chevron-up' title='Move Section Up'></i>
			<i class='icon-chevron-down' title='Move Section Down'></i>
			<i class='icon-list' title='View Section History'></i>
			<i class='icon-remove' title='Remove Section'></i>
		</div>
		<%= content %>
	</div>
</script>
<script id='section-history-item-template' type='text/template'>
	<div class='historyItem'>
		<div class='tools'>
			<i class='icon-ok' title='Use this revision'></i>
			<i class='icon-info-sign' title='Revision Information'></i>
		</div>
		<%= content %>
		</div>
	</div>
</script>

</body>
</html>
